<html>
	<head>
		<title>Not Found</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css" />
	</head>
	<div class="titleContainer">
		<h1 class="pageTitle">Uh oh...</h1>
	</div>
	<div class="container">
		<img src="/images/not_found.png" />
		<h3>We could not find a page at <%= request.url %></h3>	
	</div>
</html>
